body{
	margin: 0;
	color: black;
}
header {
	background: black;
	color: white;
	padding: 0px 10px 0px 10px;
}
header h1{
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
}
nav {
	background:black;
	padding: 5px 0px;
}
nav a{
	color: white;
	display: inline;
	font-size: 1.3em;
	font-family: sans-serif;
	font-weight: bold;
	list-style-type: none;
	padding: 0px 10px;
	text-decoration: none;
}
//div{
	background-color: #D3D3D3;
	background-size: 20px;
	padding-bottom: 500px;
	margin:0;
} 
.home{
	background-color: #D3D3D3;
	background-size: 20px;
	padding-bottom: 500px;
	padding-top: 50px;
	margin:0;
}
.about{
	background-color: #D3D3D3;
	background-size: 20px;
	padding-bottom: 500px;
	padding-top: 50px;
	margin:0;
}
.contacts{
	background-color: #D3D3D3;
	background-size: 20px;
	padding-bottom: 500px;
	padding-top: 50px;
	margin:0;
}
footer {
	background-color: black;
	color: white;
	margin:0;
	padding: 0px;
}