html, body{
	//overflow-x: hidden !important;
	width: auto !important;
	color: black;
	//position: absolute;
	//background-color: #000000;
}
header {
	background: black;
	color: white;
	padding: 0px 10px 0px 10px;
}
header h1{
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
}
nav {
	background:black;
	padding: 5px 0px;
}
nav a{
	color: white;
	display: inline;
	font-size: 1.3em;
	font-family: sans-serif;
	font-weight: bold;
	list-style-type: none;
	padding: 0px 10px;
	text-decoration: none;
}
.navbar{
	padding-top: 20px;
	padding-bottom: 10px;
	background-color:#000101;
	opacity: 0.95;
}
.navbar .container .navbar-brand{
	color: #EEEEEE;
}
.navbar-header .navbar-toggle .icon-bar {
 	background-color:  #EEEEEE;
}
.collapse .nav .act{
 	color: #8B8B8B;
 	font-size: 1.2em;
 	font-weight: bold;
 }
.collapse .nav .act:hover{
	background: #FBDC94;
	color: black;
}
.home .background-image {
    height: 700px;
    background-image: url('background1.jpg');
    -webkit-filter:grayscale(65%);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.home .jumbotron{
	background: transparent;
	//background-color: black;
	//opacity: 0.5;
	height: 650px;
	margin: 0;
}
.home .jumbotron .chome{
	background-color: #000000;
	background-size: 20px;
	background: transparent;
	//padding-bottom: 500px;
	padding-top: 50px;
	margin:0;
}
.home .jumbotron .chome .bname{
}
.home .jumbotron .chome .b{
	color: orange;
	text-align: center;
	margin: 0;
	//padding-top: 200px;
	//padding-left: 675px;
	font-size: 10em;
	display: inline-block;
	position: relative;
}
.home .jumbotron .chome .rian{
	color: white;
	text-align: center;
	//padding-top: 200px;
	//padding-right: 50px;
	font-size: 10em;
	display: inline-block;
	position: relative;
}

.home .jumbotron .chome .lam{
	color: orange;
	text-align: center;
	font-size: 10em;
	display: inline-block;
	position: relative;
}
//.home .jumbotron .chome p{
	text-align: center;
	text-transform: capitalize;
	color: #8B8B8B;
}
.about{
	background-color: black;
	background-size: 20px;
	height: 1000px;
}
.about .picture {
	height: auto;
	margin: 1;
   	//background-image: url('test.jpg');
    //background-repeat: no-repeat;
    //background-position: right;
    max-width: 100%;
    z-index: 1;
    //position: relative;
    //top:700px;
}
.about .aboutparagraph{
	background-color: transparent;
	color: #8B8B8B;
	//margin-right: -50px;
	z-index: 4;
}
.about .aboutparagraph h1{
	color: #8B8B8B;
	padding-top: 100px;
	font-size: 7em;
	margin:0;
	z-index: 4;
}
.project{
	background-color: #000000;
	background-size: 20px;
	height: 1000px;
	//padding-bottom: 500px;
	//padding-top: 50px;
	margin:0;
	position: relative;
}
.project h1{
	color: #8B8B8B;
	padding-top: 50px;
	font-size: 7em;
	margin:0;
	position: relative;
}
.project .carousel{
	padding-top: 20px;
	max-width: 100%;
	position: relative;
}
.project .carousel-inner .item img,
.project .carousel-inner .item a img{
	height: 250px;
	max-height: 250px;
	width: 20%;
	margin: auto;
	position: relative;
}
.project .carousel-control{
	background-image: none;
	//position: relative;
}
.project .image{
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;

}
.contacts{
	background-color: #000000;
	background-size: 20px;
	height: 500px;
	margin:0;
	position: relative;
}
.contacts h1{
	color: #8B8B8B;
	padding-bottom: 15px;
	margin:0;
	position: relative;
}
.contacts{
	padding-left: 800px;
	position: relative;
}
.contacts .button{
	padding-left: 270px;
	position: relative;
}
footer {
	background-color: #000000;
	color: #8B8B8B;
	margin:0;
	padding: 0px;
}